A:link {text-decoration: none; color: #a7062a; }
A:visited {text-decoration: none; color: #a7062a;}
A:active {text-decoration: none; color: #a7062a;}
#results {display:none;}
#resultstable {display:none;}
.details {background-color: lightgrey;}