A:link {text-decoration: none; color: #a7062a; }
A:visited {text-decoration: none; color: #a7062a;}
A:active {text-decoration: none; color: #a7062a;}
#results {display:none;}
#resultstable {display:none;}
.details {background-color: lightgrey;}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}