A:link {text-decoration: none; color: #a7062a; }
A:visited {text-decoration: none; color: #a7062a;}
A:active {text-decoration: none; color: #a7062a;}
#results {display:none;}
#resultstable {display:none;}
#notregtable {display:none;}
#reg {display:none;}
#unreg {display:none;}
.details {background-color: lightgrey;}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.dataTable tr.odd { background-color: #a7062a; color: white; }
table.dataTable tr.even { background-color: white; color: black; }

table.dataTable tr.odd td.sorting_1 { background-color: #850421; color: white; }
table.dataTable tr.odd td.sorting_2 { background-color: #850421; color: white;  }
table.dataTable tr.odd td.sorting_3 { background-color: #850421; color: white;  }
table.dataTable tr.even td.sorting_1 { background-color: #CCCCCC; color: black;  }
table.dataTable tr.even td.sorting_2 { background-color: #CCCCCC; color: black; }
table.dataTable tr.even td.sorting_3 { background-color: #CCCCCC; color: black; ; }


